.wrapper{
             background-color: #171010;
             height:1100px;
             width:1170px;
             margin-left: 50%;
             left: -585px;
             position:absolute;

            }

.wrapper2{
             background-color: #171010;
             height:1600px;
             width:1170px;
             margin-left: 50%;
             left: -585px;
             position:absolute;

            }